<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>電商網站</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/style-home.css">
</head>
<body>
	<div class="wrapper">
		<header class="header">
			<div class="navbar">
				<div class="container">
					<a href="#!" class="brand">
						<h1>BROS</h1>
					</a>
					<ul id="popup-menu" class="nav">
						<li class="nav-item">
							<a href="#first" class="nav-link">【首頁】</a>
						</li>
						<li class="nav-item">
							<a href="#shirt" class="nav-link">【上衣】</a>
						</li>
						<li class="nav-item">
							<a href="#pants" class="nav-link">【褲子】</a>
						</li>
						<li class="nav-item">
							<a href="#coat" class="nav-link">【外套】</a>
						</li>
						<li class="nav-item">
							<a href="/index" class="nav-link shop">✪購物✪</a>
						</li>
					</ul>
					<a href="#popup-menu" class="menu-toggle">
						<span></span>
						<span></span>
						<span></span>
					</a>
				</div>
			</div>
		</header>

		<section class="main">
			<div id="first" class="jumbotron">
				<div class="container">
					<div class="logo-image" style="background-image: url('images/bg1.jpg');"></div>
					<h2 class="word">韓國男裝品牌</h2>
					<div class="logo-image" style="background-image: url('images/bg2.jpg');"></div>
				</div>
			</div>

			<div class="hero hero-bg-white">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-12">
							<div class="about-preview">
								<h3 class="title">BROS 韓國男裝品牌</h3>
								<p class="para">打造你日常自在的穿搭 — 提供高品質服飾、無負擔的價格
									，讓每位認真打點日常的男士，輕鬆享受自由穿搭的美好！同步最新韓系風格快時尚，
									週週設計新品上架，滿足你對時尚的需求。我們致力於將最新流行趨勢與高品質服飾結合，
									讓你無論是休閒還是正式場合都能展現獨特風格。選擇我們，體驗無憂購物，享受舒適與時尚並存的穿搭樂趣！</p>
								<a href="https://www.bros.com.tw/?gad_source=1&gclid=Cj0KCQjwq_G1BhCSARIsACc7NxobtjNgsBCn0Bco0R06aFtwpftjRbGJav-Go7nDeqrNVBy38Fuu7D4aAqo6EALw_wcB"
								class="btn btn-primary">官網連結</a>
							</div>
						</div>
						<div class="col-lg-6 col-md-12">
							<div class="image-container">
								<div class="image" style="background-image: url('images/right.jpg');"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="hero hero-bg-grey">
				<div class="container">
					<div class="section-intro">
						<h2 class="title">SERVICES</h2>
					</div>
					<div class="space"></div>
					<div class="row">
						<div class="col-lg-4 col-md-6 col-sm-12">
							<a href="#shirt">
								<div class="service-item">
									<div class="image-container  image-pad">
										<div class="image" style="background-image: url('images/shirt.jpg');"></div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<a href="#pants">
								<div class="service-item">
									<div class="image-container  image-pad">
										<div class="image" style="background-image: url('images/pants.jpg');"></div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<a href="#coat">
								<div class="service-item">
									<div class="image-container  image-pad">
										<div class="image" style="background-image: url('images/coat.jpg');"></div>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="hero contact">
				<div class="mask-dark"></div>
				<div class="container">
					<div class="section-intro">
						<h2 class="title-2">CONTACT US</h2>
					</div>
					<div class="btn-group-center">
						<h2 class="btn btn-primary btn-lg">信箱:wecare@bros.com.tw</h2>
					</div>
				</div>
			</div>

			<div class="hero">
				<div class="container">
					<div class="section-intro">
						<h2 class="title">COMMODITY</h2>
					</div>
					<div id="shirt" class="space"></div>
					<div class="menu-list">
						<div class="title-bar">
							<h3 class="title">上衣/SHIRT</h3>
							<a href="#!" class="btn btn-secondary lg-display">more</a>
						</div>
						<div class="row">
							<div class="col-lg-3 col-md-6 col-sm-12">
								<div class="list-item">
									<div class="image-container">
										<div class="image" style="background-image: url('./images/上衣/韓版3D貓咪短袖-580.jpg');"></div>
									</div>
									<div class="preview">
										<h3 class="title">韓版3D貓咪短袖</h3>
										<h3 class="price">NT$580</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6 col-sm-12">
								<div class="list-item">
									<div class="image-container">
										<div class="image" style="background-image: url('./images/上衣/韓版冰絲垂墜五分袖-650.jpg');"></div>
									</div>
									<div class="preview">
										<h3 class="title">韓版冰絲垂墜五分袖</h3>
										<h3 class="price">NT$650</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6 col-sm-12">
								<div class="list-item">
									<div class="image-container">
										<div class="image" style="background-image: url('./images/上衣/韓版冰絲滑面7分袖襯衫-650.jpg');"></div>
									</div>
									<div class="preview">
										<h3 class="title">韓版冰絲滑面7分袖襯衫</h3>
										<h3 class="price">NT$650</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6 col-sm-12">
								<div class="list-item">
									<div class="image-container">
										<div class="image" style="background-image: url('./images/上衣/韓版寬鬆排釦素色扮袖-550.jpg');"></div>
									</div>
									<div class="preview">
										<h3 class="title">韓版寬鬆排釦素色扮袖</h3>
										<h3 class="price">NT$550</h3>
									</div>
								</div>
							</div>
							<div class="btn-group-center">
								<a href="" class="btn btn-secondary btn-lg lg-hidden">more</a>
							</div>
						</div>
					</div>
					<div id="pants" class="space"></div>
					<div class="menu-list">
						<div class="title-bar">
							<h3 class="title">褲子/PANTS</h3>
							<a href="#!" class="btn btn-secondary lg-display">more</a>
						</div>
						<div class="row">
							<div class="col-lg-3 col-md-6 col-sm-12">
								<div class="list-item">
									<div class="image-container">
										<div class="image" style="background-image: url('./images/褲子/韓版垂感設計拉鍊西裝褲-780.jpg');"></div>
									</div>
									<div class="preview">
										<h3 class="title">韓版垂感設計拉鍊西裝褲</h3>
										<h3 class="price">NT$780</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6 col-sm-12">
								<div class="list-item">
									<div class="image-container">
										<div class="image" style="background-image: url('./images/褲子/韓版字母束腳牛仔褲-780.jpg');"></div>
									</div>
									<div class="preview">
										<h3 class="title">韓版字母束腳牛仔褲</h3>
										<h3 class="price">NT$780</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6 col-sm-12">
								<div class="list-item">
									<div class="image-container">
										<div class="image" style="background-image: url('./images/褲子/韓版滑面工裝短褲-580.jpg');"></div>
									</div>
									<div class="preview">
										<h3 class="title">韓版滑面工裝短褲</h3>
										<h3 class="price">NT$580</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6 col-sm-12">
								<div class="list-item">
									<div class="image-container">
										<div class="image" style="background-image: url('./images/褲子/韓版百搭素色直筒牛仔褲-780.jpg');"></div>
									</div>
									<div class="preview">
										<h3 class="title">韓版百搭素色直筒牛仔褲</h3>
										<h3 class="price">NT$780</h3>
									</div>
								</div>
							</div>
							<div class="btn-group-center">
								<a href="" class="btn btn-secondary btn-lg lg-hidden">more</a>
							</div>
						</div>
					</div>
					<div id="coat" class="space"></div>
					<div class="menu-list">
						<div class="title-bar">
							<h3 class="title">外套/COAT</h3>
							<a href="#!" class="btn btn-secondary lg-display">more</a>
						</div>
						<div class="row">
							<div class="col-lg-3 col-md-6 col-sm-12">
								<div class="list-item">
									<div class="image-container">
										<div class="image" style="background-image: url('./images/外套/韓版REMEMBER棒球外套-1080.JPG');"></div>
									</div>
									<div class="preview">
										<h3 class="title">韓版REMEMBER棒球外套</h3>
										<h3 class="price">NT$1080</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6 col-sm-12">
								<div class="list-item">
									<div class="image-container">
										<div class="image" style="background-image: url('./images/外套/韓版V領針織外套-880.jpg');"></div>
									</div>
									<div class="preview">
										<h3 class="title">韓版V領針織外套</h3>
										<h3 class="price">NT$880</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6 col-sm-12">
								<div class="list-item">
									<div class="image-container">
										<div class="image" style="background-image: url('./images/外套/韓版文字混羊毛外套-1280.JPG');"></div>
									</div>
									<div class="preview">
										<h3 class="title">韓版文字混羊毛外套</h3>
										<h3 class="price">NT$1280</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6 col-sm-12">
								<div class="list-item">
									<div class="image-container">
										<div class="image" style="background-image: url('./images/外套/韓版雙釦休閒西裝外套-980.jpg');"></div>
									</div>
									<div class="preview">
										<h3 class="title">韓版雙釦休閒西裝外套</h3>
										<h3 class="price">NT$980</h3>
									</div>
								</div>
							</div>
							<div class="btn-group-center">
								<a href="" class="btn btn-secondary btn-lg lg-hidden">more</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<hr>

		<footer class="footer">
			<div class="hero hero-bg-grey">
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
                            <div class="title">關於我們 ABOUT US</div>
							<div class="para">優惠資訊 / Coupon</div>
							<div class="para">商店介紹 / Introduction</div>
							<div class="para">與我們合作 / Cooperation</div>
                        </div>
                        <div class="col-lg-4">
							<div class="title">顧客服務 SERVICE</div>
							<div class="para">加入會員享折扣 / VIP</div>
							<div class="para">挑選尺寸 / About Size</div>
							<div class="para">購物須知 / How To Buy</div>
							<div class="para">退換貨政策 / After-sales Service</div>
							<div class="para">使用者條款 / Terms</div>
							<div class="para">隱私權政策 / Privacy</div>
                        </div>
                        <div class="col-lg-4">
							<div class="title">尋找我們 FOLLOW US</div>
							<div class="para">服務時間:上班日 11:00 - 18:00</div>
							<div class="para">公司名稱:美邁有限公司</div>
							<div class="para">統一編號:83303471</div>
							<div class="image-container">
								<a href="https://www.facebook.com/bros.com.tw/" class="image-1" style="background-image: url('images/fb.png');"></a>
								<a href="https://www.instagram.com/bros.com.tw/"  class="image-2" style="background-image: url('images/ig.png');"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="copyright">
				<p>@ Copyright 2024 All rights reserved</p>
			</div>
		</footer>
	</div>
</body>
</html>
